<%= form_with(model: [post, post.comments.build]) do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>

  <div class="form-control">
    <%= form.text_area :description %>
    <%= form.submit "Comentar", class: "btn btn-primary mt-1" %>
  </div>
<% end %>