<div class="container" style="margin-top: 20px;">
  <h1 style="color: #fff; margin-bottom: 20px;">New post</h1>

  <%= render "form", post: @post %>

  <div style="margin-top: 20px;">
    <%= link_to "Back to posts", posts_path, style: "color: #fff;" %>
  </div>
</div>